
/*Lab 6 - Form (Part A)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body { 
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #0C2340;
    color: #ffffff;
}

h1 {
    font-size: xx-large;
    margin-top: 1pc;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
h3 {
    font-size: 26px;
    font-weight: 900;
    text-align: left;
    margin-top: 2pc;
    margin-bottom: 2pc;
    color: #ffffff;
    padding-bottom: 8px;
}
body label{
    margin-top: 1pc;
}
input {
    margin: 2px;
    padding: .5em;
    border: solid 1px #999
}

input[type="email"], input[type="text"] {
    width: 15em;
}

textarea {
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #999
}

label {
    display: block;
    margin-top: auto;
}

.check_box {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: justify;
}

legend {
    margin-top: 1em;
}

input[type="checkbox"] {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}

input[type="radio"] {
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 10px;
}

input[type="radio"]:first-of-type {
    margin-left: 0;
}

input[type="submit"], button{
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.958);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}