/*Lab3*/
body { background-color: #5f0404;
    color: #ffffff;
font-family: Arial, Verdana, sans-serif;
font-size: 12pt;
margin-top: 15pt;
margin-bottom: 15pt;
margin-left: 12pt;
margin-right: 12pt;}
h1 {
  color: #fcf7f4;
font-family: Arial, Helvetica, sans-serif;
font-size: 36pt;}
h2 { color: #e6e4e1;
font-family: Arial, Helvetica, sans-serif; 
font-size: 27pt;}
h4 {color: #000000;
    font-family: Arial, Helvetica, sans-serif;
font-size: 18pt;}

a {color: #f9f4fb;
    font-family: Arial, Helvetica, sans-serif;}
a {color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;}
a:hover {text-decoration: none;
color: #000066;}
a:active {text-decoration: double;
color: #2c6e7c}
a:visited {text-decoration: solid;
color: #fb8c8c}
a:link {text-decoration: dotted;
color:blueviolet}
.div1 {width: 200px;
        height: 50px;
        background-color: #d1ecff;
        border: 3px dashed #000000;
        padding: 5px;}
.div2 {width: 200px;
            height: 50px;
            background-color: #d1ecff;
            border: 3px dashed #000000;
            padding: 5px;}
footer { color: #ffffff;}


/*Creating Navigation Menu*/

/*navbar container*/
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/*links inside the navbar*/
.navbar a{
    float:left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*The container div needed to position the dropdown content */
.dropdown {
    float:left;
    overflow: hidden;
}

/*Dropdown Button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #333;
    font-family: inherit;
    margin: 0;
}

/*Hover*/
.navbar a:hover, .dropdown.hover .dropbtn {
    background-color: red;
}

/*Dropdown content (Hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

/*Links inside the dropdown*/
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*Change color of dropdown links on hover*/
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display:block;
}

/* The Home Page */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    text-align: center;
}

.main__content {
    font-size: xx-large;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
    text-align: center;


}

.main__content h1 p {
    text-align: center;
    text-indent: 0px;
    line-height: 1.4;
    padding: 10 0 10px 0;
    font-size: xx-large;
}
.main__img--container {
    text-align: center;
    background-size: cover;
    background-position: center;
    opacity: 1;
    position: absolute;
    display: block;
}

#main__img {
    height: 80%;
    width: 80%;
    top: 0;
    left: 0; 
}

/* About Me page*/
#aboutme {
    padding:100px 0 ;
    color: #fff;
}
.row_aboutme {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.column1_aboutme {
    flex-basis: 25%;
    
}
.column1_aboutme img {
    width: 100%;
    border-radius: 15px;
}
.column2_aboutme{
    flex-basis: 70%;
}

.column2_aboutme p {
    font-size: x-large;
    text-indent: 0px;
    line-height: 1.4;
    padding: 10 0 10px 0;
}

.sub_title{
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.home_description {
    font-size: x-large;
    text-indent: 0px;
    line-height: 1.4;
    padding: 10 0 10px 0;
}