/*This is the body of the home page and other pages*/
body{ 
    display: table;
    width: 89%;
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/toronto-night-corner.jpg);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #ffffff;
font-family: Arial, Verdana, sans-serif;
font-size: 12pt;
}

.wrapper h2{
    text-align: center;
}


/*Other Body Elements*/
h1 {
  color: #fcf7f4;
font-family: Arial, Helvetica, sans-serif;
font-size: 48pt;
text-align: center;
margin-top: 10%;}

h2 { color: #e6e4e1;
font-family: Arial, Helvetica, sans-serif; 
font-size: 27pt;
text-align:left;}

h4 {color:#eaeaea;
    font-family: Arial, Helvetica, sans-serif;
font-size: 18pt;
margin-top: auto;
margin-left: 5%;}

a {color: #f9f4fb;
    font-family: Arial, Helvetica, sans-serif;}
a {color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;}
a:hover {text-decoration: none;
color: #000066;}
a:active {text-decoration: double;
color: #2c6e7c}
a:visited {text-decoration: solid;
color: #fb8c8c}
a:link {text-decoration: dotted;
color:blueviolet}
.div1 {width: 200px;
        height: 50px;
        background-color: #d1ecff;
        border: 3px dashed #000000;
        padding: 5px;}
.div2 {width: 200px;
            height: 50px;
            background-color: #d1ecff;
            border: 3px dashed #000000;
            padding: 5px;}
footer { color: #ffffff;}


/*Creating Navigation Menu*/
.ddmenu {
    background-color: #eaeaea;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    display: flex;
    width: 100%;
    height: 50px;
    min-width: 40em;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1000
}
.ddmenu ul {
    list-style: none;
    display: flex;
    text-align: right;
    
}
.ddmenu ul li {
    padding: 10px 30px;
    position: relative;
    text-align: left;
}
.ddmenu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.4em;
    transition: all 0.3s;
    font-weight: 700;
}
.ddmenu ul li a:hover {
    color:#e84e4e
}
.dd-res {
    display: none;
}
.ddmenu ul li:hover .dd-res{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #a1a6ff;
    padding: 5px 5px 5px 5px;
}
.dd-res ul {
    display: block;
    margin: 10px;
}
.dd-res ul li {
    width: 150px;
    padding: 10px;
}
.dd-link {
    display: none;
}
.ddmenu ul li:hover .dd-link {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #7e85ff;
}
.dd-link ul {
    display: block;
    margin: 10px;
}
.dd-link ul li {
    width: 150px;
    padding: 10px;
}

.headername {
    font-size: 1.4em;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

/* The Home Page */
.wrapper {
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    
}
.hometext {
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    
}


.hometext h1 p {
    text-align: center;
    text-indent: 0px;
    line-height: 1.4;
    padding: 10 0 10px 0;
    font-size: xx-large;
}

/* About Me page*/
#aboutme {
    padding:100px 0 ;
    color: #fff;
}
.row_aboutme {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.column1_aboutme {
    flex-basis: 25%;
    
}
.column1_aboutme img {
    width: 70%;
    border-radius: 15px;
}
.column2_aboutme{
    flex-basis: 70%;
}

.column2_aboutme p {
    font-size: x-large;
    text-indent: 0px;
    line-height: 1.4;
    padding: 10 0 10px 0;
}

.sub_title{
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.home_description {
    font-size: x-large;
    text-indent: 0px;
    line-height: 1.4;
    padding: 10 0 10px 0;
}

.fontdd button {
    background-color: #fff;
    color: #000000;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.fontdd a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.fontdd .fontsz{
    display: none;
    background-color: #ffffff92;
    position: absolute;
    min-width: 100px;
    box-shadow: 3px 3px 4px black;
}
.fontdd:hover .fontsz{
    display: block;
}

